rich
plantweb
pandas
polars
pyarrow
dask
numpy
alive_progress
numexpr
duckdb
# julia  # this requires separate julia installation, adding julia to path, pip installing `julia`, then running in python once `import julia; julia.install()`
numba
